.orange {
  background: orange
}
.blue {
  background: blue
}
.green {
  background: green
}
.red {
  background: red
}
.pink {
  background: pink
}
.bg-light {
  background: hotpink !important
}
.navbar-img {
  width: 100px;
}
